[submodule "amp-embedded-infra-lib"]
	path = amp-embedded-infra-lib
	url = https://github.com/philips-software/amp-embedded-infra-lib.git
[submodule "amp-hal-st"]
	path = amp-hal-st
	url = https://github.com/philips-software/amp-hal-st.git
